<footer id="main-footer">
	<!--Wrapper Start-->
	<div class="wrapper">
		<ul>
			<li class="col1">
				<a href="#">Contact us</a>
				<a href="#">Guides &amp; FAQa</a>
				<a href="#">Delivery Information</a>
				<a href="#"> Dormeo Warranty</a>
				<a href="#">Options Range Warranty</a>
				<a href="#">Warranty Registration</a>
			</li>

			<li class="col2">
				<a href="#">Comfort Guarantee</a>
				<a href="#">Returns</a>
				<a href="#">Affilates</a>
				<a href="#">Our Privacy Policy</a>
				<a href="#">Terms &smp; Conditions</a>
				<a href="#">Privacy Policy</a>
			</li>

			<li class="col3">
				<a href="#">Store Locator</a>
				<a href="#">Divan Drawer Options</a>
				<a href="#">Fabric Swatch Requests</a>
				<a href="#">Site Map</a>

				<div class="social">
					<a href="https://twitter.com/" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="https://pinterest.com/" target="_blank">
						<i class="fa fa-pinterest"></i>
					</a>
					<a href="http://facebook.com/" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://www.google.com/" target="_blank">
						<i class="fa fa-google"></i>
					</a>

					<a href="https://www.youtube.com/" target="_blank">
						<i class="fa fa-youtube"></i>
					</a>
				</div>
			</li>
			<li class="col4">
				<img src="/public/img/trustpilot-logo-4stars.png" alt="Trust Pilot">
				<img src="/public/img/membership-roundal-logo-with-padding.jpg" alt="Fira Logo">
			</li>
			<li class="col5">
				<p>News Letter</p>
				<p>Sign up to receive our latest news and offers</p>
				<form>
					<input type="text" placeholder="Email:"><input type="submit">
				</form>
			</li>
		</ul>
	</div>

	<div class="container">
		<p class="copyright">Dormeo Uk Limited trading as Dormeo, is registered in England and wales no 07440398. Registered address: Wye House, 376
			London Road, High Wycombe, Buckinghameshire HP11 1LH. Dormeo Uk Limited is Authorised and Regulated by the Finanial Conduct
			as a consumer Credit under firm number 627302. Consumer credit service is Provided by Deko, a trading name of Pay4Later
			LTD, who are authorised and regulated by the Financial Conduct Authority (Firm Reference Number: 728646).</p>
	</div>

</footer>
</body>

</html>