<nav class="wrapper" id="desktop">
  <div class="text-align-center">
    <ul>
      <li>
        <a href="#" aria-controls="mattresses">
          Mattresses
      </li>
      <li>
        <a href="#" aria-controls="beds">
          Beds
      </li>
      <li>
        <a href="#" aria-controls="bedding">
          Bedding
      </li>
      <li>
        <a href="#" aria-controls="sale">
          Sale
      </li>
      <li>
        <a href="#" aria-controls="clearance">
          Clearance
      </li>
      <li>
        <a href="#" aria-controls="aboutus">
          About Us
      </li>
      <li>
        <a href="#" aria-controls="sleepblog">
          Sleep Blog
      </li>
      <li>
        <a href="#" aria-controls="guidesfaq">
          Guides & FAQs
      </li>
    </ul>
  </div>
</nav>


<div id="mobile" class="web-container">
  <!--Main nav menu -->
  <nav class="nav-menu-wrap">

    <ul>
      <li>
        <a href="#" aria-controls="mattresses">
          Mattresses
      </li>
      <li>
        <a href="#" aria-controls="beds">
          Beds
      </li>
      <li>
        <a href="#" aria-controls="bedding">
          Bedding
      </li>
      <li>
        <a href="#" aria-controls="sale">
          Sale
      </li>
      <li>
        <a href="#" aria-controls="clearance">
          Clearance
      </li>
      <li>
        <a href="#" aria-controls="aboutus">
          About Us
      </li>
      <li>
        <a href="#" aria-controls="sleepblog">
          Sleep Blog
      </li>
      <li>
        <a href="#" aria-controls="guidesfaq">
          Guides & FAQs
      </li>
    </ul>
    </li>
    </ul>
    </li>
    </ul>
  </nav>
  <div class="nav-menu-background"></div>
  <div class="main-container">
    <section>
      <div class="nav-menu-toggle">
        <i class="fa fa-bars toggle"></i>
      </div>
    </section>



  </div>
</div>







{{!-- Old Mobile Nav (Keep until decided which to use) --}} {{!--
<nav id="mobile" role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li>
        <a href="#" aria-controls="rsvp">
          RSVP
      </li>
      <li>
        <a href="#" aria-controls="accommodation">
          Accommodation
      </li>
      <li>
        <a href="#" aria-controls="menu">
          Menu
      </li>
      <li>
        <a href="#" aria-controls="directions">
          Directions
      </li>
      <li>
        <a href="#" aria-controls="gifts">
          Gifts
      </li>
    </ul>
  </div>
</nav> --}}