<div class="top-bar">
	<div class="container">
		<div class="col40">
			<p>24HR Order-line:
				<a href="tel:+448006250134">0800 625 0134</a>
			</p>
		</div>
		<div class="col30">
			<p>the home of a great night's sleep</p>
		</div>
		<ul>
			<li>Sign In</li>
			<li>Create an Account</li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="col40">
		<img width="150px" src="/img/logo.svg" alt="">
	</div>
	
</div>