/* ==========================================================================
	Columns
========================================================================== */

@import "partials/colors";
.box100 {
	width: 100%;
	float: left;
}

@media all and (max-width: 850px) {
	.box100 {
		width: 100%;
		float: left;
	}
}

.box50 {
	width: 50%;
	float: left;
}

@media all and (max-width: 850px) {
	.box50 {
		width: 100%;
		float: left;
	}
}

.box45 {
	width: 45%;
	float: left;
}

@media all and (max-width: 850px) {
	.box45 {
		width: 100%;
		float: left;
	}
}

.box75 {
	width: 75%;
	float: left;
}

@media all and (max-width: 850px) {
	.box75 {
		width: 100%;
		float: left;
	}
}

.box60 {
	width: 60%;
	float: left;
}

@media all and (max-width: 850px) {
	.box60 {
		width: 100%;
		float: left;
	}
}

.box40 {
	width: 40%;
	float: left;
}

@media all and (max-width: 850px) {
	.box40 {
		width: 100%;
	}
}

.box33 {
	width: 33.3%;
	float: left;
}

@media all and (max-width: 850px) {
	.box33 {
		width: 100%;
		float: left;
	}
}

.box30 {
	width: 30%;
	float: left;
}

@media all and (max-width: 850px) {
	.box30 {
		width: 100%;
		float: left;
	}
}

.box25 {
	width: 25%;
	float: left;
}

@media all and (max-width: 850px) {
	.box25 {
		width: 33%;
		float: left;
	}
}

@media all and (max-width: 750px) {
	.box25 {
		width: 50%;
		float: left;
	}
}

@media all and (max-width: 500px) {
	.box25 {
		width: 100%;
		float: left;
	}
}

.box20 {
	width: 20%;
	float: left;
}

@media all and (max-width: 750px) {
	.box20 {
		width: 100%;
		float: left;
	}
}

.box10-static {
	width: 10%;
	float: left;
	background-color: $blue;
	height: 100%;
}

.box100-static {
	width: 100%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box100-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box50-static {
	width: 50%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box50-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box75-static {
	width: 75%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box75-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box60-static {
	width: 60%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box60-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box45-static {
	width: 49%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box45-static {
		width: 100%;
		background-color: $blue;
		height: 100%;
	}
}

.box40-static {
	width: 40%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box40-static {
		width: 100%;
		background-color: $blue;
		height: 100%;
	}
}

.box33-static {
	width: 33.3%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box33-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box30-static {
	width: 30%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box30-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box25-static {
	width: 25%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 850px) {
	.box25-static {
		width: 33%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

@media all and (max-width: 750px) {
	.box25-static {
		width: 50%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

@media all and (max-width: 500px) {
	.box25-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box20-static {
	width: 20%;
	float: left;
	background-color: $blue;
	height: 100%;
}

@media all and (max-width: 750px) {
	.box20-static {
		width: 100%;
		float: left;
		background-color: $blue;
		height: 100%;
	}
}

.box10-static {
	width: 10%;
	float: left;
	background-color: $blue;
	height: 100%;
}

/*-------------Universal Styles-------------*/

.box-center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.box-right {
	float: right;
}

.box-left {
	float: left;
}

.dd-search fieldset {
	border: none;
	width: 700px;
	margin: 30px auto 0;
}

blockquote {
	border-left: 3px solid #000;
	padding: 0 0 0 20px;
}

.top-padding {
	padding: 60px 0 0 0;
}

@media all and (max-width: 700px) {
	.top-padding {
		padding: 130px 0 0 0;
	}
}

/* --------- Flex  ---------*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------- Two boxum Titles ---------*/

.two-box-header {
	overflow: hidden;
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.two-box-header .left {
	margin: 0 4% 0 0;
}

.two-box-header .right {
	width: 50%;
	float: left;
	border-left: 1px solid #e0dfdd;
	padding: 0 0 0 4%;
}

@media all and (max-width: 900px) {
	.two-box-header .left,
	.two-box-header .right {
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
	}
	.two-box-header {
		flex-direction: box;
	}
}

.black-friday {
	color: $white;
	font-size: 30px;
}

.black-fridayP {
	color: $white;
	font-size: 10px;
	text-decoration: underline;
}

.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}

.slick-prev:after {
  content: "<";
  color: $grey;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: $grey;
  font-size: 30px;
}
