/* ==========================================================================
	Columns
========================================================================== */

.col100,
.col75,
.col60,
.col50,
.col40,
.col33,
.col30,
.col25,
.col20,
.col10 {
	display: inline-block;
	vertical-align: top;
	float: left;
	position: relative;
}

.col100 {
	width: 100%;
	background: #FFF;
}

@media all and (max-width: 850px) {
	.col100 {
		width: 100%;
	}
}

.col50 {
	width: 50%;
}

@media all and (max-width: 850px) {
	.col50 {
		width: 100%;
	}
}

.col75 {
	width: 75%;
}

@media all and (max-width: 850px) {
	.col75 {
		width: 100%;
	}
}

.col60 {
	width: 60%;
}

@media all and (max-width: 850px) {
	.col60 {
		width: 100%;
	}
}

.col40 {
	width: 40%;
}

@media all and (max-width: 850px) {
	.col40 {
		width: 100%;
	}
}

.col33 {
	width: 33.3%;
}

@media all and (max-width: 850px) {
	.col33 {
		width: 100%;
	}
}

.col30 {
	width: 30%;
}

@media all and (max-width: 850px) {
	.col30 {
		width: 100%;
	}
}

.col25 {
	width: 25%;
}

@media all and (max-width: 850px) {
	.col25 {
		width: 33%;
	}
}

@media all and (max-width: 750px) {
	.col25 {
		width: 50%;
	}
}

@media all and (max-width: 500px) {
	.col25 {
		width: 100%;
	}
}

.col20 {
	width: 20%;
}

@media all and (max-width: 750px) {
	.col20 {
		width: 100%;
	}
}

.col10 {
	width: 10%;
}

/*-------------Universal Styles-------------*/

.col-center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.col-right {
	float: right;
}

.col-left {
	float: left;
}

.padding15 {
	padding: 0 15px;
}

.padding30 {
	padding: 0 30px;
}

.padding60 {
	padding: 0 60px;
}

.padding100 {
	padding: 0 100px;
}

.padding30-all {
	padding: 30px;
}

.padding60-all {
	padding: 60px;
}

.padding100-all {
	padding: 100px;
}

.dd-search fieldset {
	border: none;
	width: 700px;
	margin: 30px auto 0;
}

blockquote {
	border-left: 3px solid #000;
	padding: 0 0 0 20px;
}

.top-padding {
	padding: 60px 0 0 0;
}

@media all and (max-width: 700px) {
	.top-padding {
		padding: 130px 0 0 0;
	}
}

/* --------- Flex  ---------*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------- Two Colum Titles ---------*/

.two-col-header {
	overflow: hidden;
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.two-col-header .left {
	margin: 0 4% 0 0;
}

.two-col-header .right {
	width: 50%;
	float: left;
	border-left: 1px solid #e0dfdd;
	padding: 0 0 0 4%;
}

@media all and (max-width: 900px) {
	.two-col-header .left,
	.two-col-header .right {
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
	}
	.two-col-header {
		flex-direction: col;
	}
}
