/* ==========================================================================
	Colors
========================================================================== */

$yellow: #f9de56;
$purple: #c782d8;
$blue: #00295f;
$red: #fc4530;
$hover-red: #ff4325;
$orange: #ef6f45;
$white: #ffffff;
$grey: #444444;
$lightgrey: #eeeeee;
$black: #000000;

.white {
	color: $white;
}

.blue {
	color: $blue;
}

.red {
	color: $red;
}
