/* ==========================================================================
	Footer
========================================================================== */

@import "partials/colors";
 
footer .logo {
	width: 100px;
	margin: 100px auto 50px;
}

footer .container p {
	font-size: 10px;
	line-height: 1.2;
}

footer p {
	font-size: 16px;
}

footer ul {
	overflow: hidden;
	padding: 10px 100px 10px 100px;
	li.col1, .col2, .col3, .col4, .col5 {
		float: left;
		margin: 0 5% 0 0;
	}
}

footer a {
	color: $grey;
	font-size: 10px;
	display: block;
}

footer a:hover {
	color: $blue;
}

/* ---------- Media Queries ----------*/

/* Extra Small Devices */
@media only screen and (max-width: 600px) {
	footer ul {
		overflow: hidden;
		padding: 10px 25px 10px 25px;
		li.col1, .col2 {
			float: left;
			margin: 0 5% 0 10%;
		}
	}
} 
/* Tablet & Phablet */
@media only screen and (min-width: 600px) {

}
/* Desktop */
@media only screen and (min-width: 992px) {

}

@media all and (max-width: 1200px) {
	footer .wrapper {
		width: 100%;
		margin: 0 auto;
	}
}

@media all and (max-width: 900px) {
	.col {
		margin: 0 5% 0 10%;
	}
}

@media all and (max-width: 500px) {
	.col {
		margin: 0 5% 0 10%;
	}
	footer ul {
		overflow: hidden;
		padding: 50px 0 0px;
	}
	footer .wrapper {
		margin: 0 auto 0px;
	}
}


/* --------- Social  ---------*/

.social {
	a {
		background-color: #333;
		border-radius: 30px;
		color: #fff;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		margin: auto 3px;
		width: 20px;
		font-size: 13px;
		text-align: center;
	}
}
.copyright a {
	font-size: 14px;
	display: inline;
}

.copyright {
	font-size: 14px;
	width: 100%;
}

@media all and (max-width: 600px) {
	.copyright {
		font-size: 12px;
		width:100%;
		text-align: right;
		margin: 30px 20px 0 0;
		line-height: 20px;
	}
	.copyright a {
		font-size: 12px;
		display: inline;
	}
}
