/* ==========================================================================
	Headings
========================================================================== */

/**
 * Headings 1-6's corresponding Greek-alphabet abstract classes.
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */
.alpha,
.c-popup__close {
  font-size: 48px;
  font-size: 2.6666666667rem;
  line-height: 1; }

.beta,
.c-text-intro__title {
  font-size: 36px;
  font-size: 2rem;
  line-height: 1.3333333333; }

.gamma {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 1; }

.delta {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.3333333333; }

.epsilon {
  font-size: 16px;
  font-size: 0.8888888889rem;
  line-height: 1.5; }

.zeta {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1; }

/* ==========================================================================
	Media Queries
========================================================================== */

/* Mobile Phone
========================================================================== */

@media screen and (min-width: 480px) {
  .alpha\@xs {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@xs {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@xs {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@xs {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@xs {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@xs {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }

/* Tablet
========================================================================== */

@media screen and (min-width: 736px) {
  .alpha\@sm {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@sm {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@sm {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@sm {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@sm {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@sm {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }

/* Small Desktop / Large Tablets
========================================================================== */

@media screen and (min-width: 980px) {
  .alpha\@md {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@md {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@md {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@md {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@md {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@md {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }

/* Desktop
========================================================================== */

@media screen and (min-width: 1280px) {
  .alpha\@lg {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@lg {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@lg {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@lg {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@lg {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@lg {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }

/* Large Desktop
========================================================================== */

@media screen and (min-width: 1690px) {
  .alpha\@xl {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@xl {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@xl {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@xl {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@xl {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@xl {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }

/* Retina Display
========================================================================== */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .alpha\@retina {
    font-size: 48px;
    font-size: 2.6666666667rem;
    line-height: 1; }
  .beta\@retina {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.3333333333; }
  .gamma\@retina {
    font-size: 24px;
    font-size: 1.3333333333rem;
    line-height: 1; }
  .delta\@retina {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3333333333; }
  .epsilon\@retina {
    font-size: 16px;
    font-size: 0.8888888889rem;
    line-height: 1.5; }
  .zeta\@retina {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 1.7142857143; } }
