/* ==========================================================================
	Header - Desktop
========================================================================== */
@import "partials/colors";

header{
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}
.top-bar {
	background: $blue;
	text-align: center;
	color: $white;
	font-size: 12px;
	ul {
		float: right;
		li {
			display: inline-block;
			padding-left: 6px;
		}
		li:not(:first-child):before{
			content: "|";
			color: $white;
			padding-right: 6px;
		}
	}
}
