/* ==========================================================================
	Layout
========================================================================== */

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.bl {
  display: block; }

.in-bl {
  display: inline-block; }

.in {
  display: inline; }

.in-tbl {
  display: inline-table;
  min-width: 100%; }

.tbl {
  display: table; }

.tc {
  display: table-cell; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.zi-1 {
  z-index: 10; }

.zi-2 {
  z-index: 20; }

.zi-3 {
  z-index: 30; }

.zi-4 {
  z-index: 40; }

.zi-5 {
  z-index: 50; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.valign-top {
  vertical-align: top; }

.valign-bottom {
  vertical-align: bottom; }

.valign-middle {
  vertical-align: middle; }

/* Mobile Phone
========================================================================== */

@media screen and (min-width: 480px) {
  .bl\@xs {
    display: block; }
  .in-bl\@xs {
    display: inline-block; }
  .in\@xs {
    display: inline; }
  .tc\@xs {
    display: table-cell; }
  .auto\@xs {
    width: auto; } }

/* Tablet
========================================================================== */

@media screen and (min-width: 736px) {
  .bl\@sm {
    display: block; }
  .in-bl\@sm {
    display: inline-block; }
  .in\@sm {
    display: inline; }
  .tc\@sm {
    display: table-cell; }
  .auto\@sm {
    width: auto; } }

/* Small Desktop / Large Tablets
========================================================================== */

@media screen and (min-width: 980px) {
  .bl\@md {
    display: block; }
  .in-bl\@md {
    display: inline-block; }
  .in\@md {
    display: inline; }
  .tc\@md {
    display: table-cell; }
  .auto\@md {
    width: auto; } }

/* Desktop
========================================================================== */

@media screen and (min-width: 1280px) {
  .bl\@lg {
    display: block; }
  .in-bl\@lg {
    display: inline-block; }
  .in\@lg {
    display: inline; }
  .tc\@lg {
    display: table-cell; }
  .auto\@lg {
    width: auto; } }

/* Large Desktop
========================================================================== */

@media screen and (min-width: 1690px) {
  .bl\@xl {
    display: block; }
  .in-bl\@xl {
    display: inline-block; }
  .in\@xl {
    display: inline; }
  .tc\@xl {
    display: table-cell; }
  .auto\@xl {
    width: auto; } }

/* Retina Display
========================================================================== */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bl\@retina {
    display: block; }
  .in-bl\@retina {
    display: inline-block; }
  .in\@retina {
    display: inline; }
  .tc\@retina {
    display: table-cell; }
  .auto\@retina {
    width: auto; } }
