/*
########## Navigation ##########
*/

nav#desktop ul {
  list-style: none;
  display: inline-flex;
}

nav#desktop a {
  padding: 10px 32px 6px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  display: block;
}

nav#desktop a:hover {
  color: #818181;
}

a {
  text-decoration: none;
}

@media screen and (max-height: 450px) {
nav#desktop {padding-top: 15px;}
nav#desktop a {font-size: 18px;}
}


@media only screen and (max-width: 768px) {
  #desktop {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  #mobile {
    display: none;
  }
}

// nav {
// 	overflow: hidden;
// 	background: #FFF;
// 	/* border-bottom: 1px solid #f0f0f0; */
// 	height: 80px;
// }
// nav .logo {
// 	width: 60px;
// 	float: left;
// 	margin: 15px;
// }
// nav ul {
// 	float: right;
// }
// nav ul li {
// 	float: left;
//   list-style: none;
// }
// nav ul li a {
// 	color: #000;
// 	text-transform: uppercase;
// 	letter-spacing: 2px;
// 	font-size: 17px;
// 	display: block;
// 	padding: 27px 60px;
//   text-decoration: none;

// }
// nav ul li a:hover {
// 	color: #ff4325;
// }
// @media all and (max-width: 1100px) {
// nav ul li a {
// 	padding: 27px 40px;
// }
// }
// @media all and (max-width: 900px) {
// nav ul li a {
// 	padding: 27px 30px;
// 		font-size: 15px;
// }
// }
