/* @override http://thekaneko.org/wp-content/themes/gmlaunch/style.css?ver=4.8.2 */
/*
Theme Name: Kaneko
Theme URI: grainandmortar.com
Author: Grain & Mortar
Author URI: grainandmortar.com/
*/

/* ==========================================================================
	Normalize and reset CSS
========================================================================== */



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; list-style: none;}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:none}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
html, body, button, input, select, textarea { font-size: 1em; line-height: 1.4; } img { vertical-align: middle; } textarea { resize: vertical; } em {}
path { transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;}

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: none;  height: 100%;}
body { font-style:normal; font-variant:normal; font-weight:normal; height: 100%; color: #4d4d4d; line-height: 28px; font-family: 'Karla', sans-serif; font-size: 18px; -webkit-font-smoothing: antialiased;}
a, a:active { outline:none; cursor:pointer; transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-webkit-transition: all .25s ease-in-out; color:#fc4530;  outline: 0; text-decoration: none; }
p a  {border-bottom: 1px solid #fc4530;}
p a:hover  {border-bottom: 1px solid #000;}
 a:hover { color: #000000; }/*
a img { -webkit-transition: opacity .25s ease; transition: opacity .25s ease; border: none;}
a img:hover { cursor: pointer; -webkit-transform: rotate(0);-moz-transform: rotate(0);transform: rotate(0);}*/
i, em { font-weight: 400i;}
b, strong { font-weight: 700; color: #000;}
strong em { font-weight: 700i;}
hr {display: block; height: 1px;border: 0;border-top: 1px solid #e0dfdd;margin: 1em 0;padding: 0; width: 100%;}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
a label { cursor: pointer; }
input:focus, textarea:focus { background: #FFF; }
input, textarea {border: none;padding: 2.5%;width: 95%;-webkit-transition: background .25s ease;-moz-transition: background .25s ease; transition: background .25s ease;}
:focus { -moz-outline-style:none; outline-color:initial; outline-style:initial; outline-width:0; }
::-moz-selection {background-color: #fc4530; color: #FFF;}
.clear { clear:both;} #left { float: left; } #right { float: right; } .left { float: left; } .right { float: right; }
img, embed, object, video, iframe { max-width: 100%; max-height: auto;}
.wrapper { overflow: hidden;}
.center {text-align: center;}
.display-none {display: none;}
.content {width: 1500px; margin: 0 auto; overflow: hidden;}
@media screen and (max-width: 1650px) { .content  {	width: 90%;}

}
