/* ==========================================================================
	Text
========================================================================== */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-thin {
	font-weight: 100;
}

.text-normal {
	font-weight: 400;
}

.text-bold {
	font-weight: 700;
}

.text-bolder {
	font-weight: 800;
}

.font-regular {
	font-family: "COOP-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.td-none {
	text-decoration: none;
}

.td-underline {
	text-decoration: underline;
}

.ws-nowrap {
	white-space: nowrap;
}

.lc-3 {
	position: relative;
	overflow: hidden;
}

.webkit-line-clamp .lc-3 {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}

html:not(.webkit-line-clamp) .lc-3 {
	max-height: 3.999999em;
}

html:not(.webkit-line-clamp) .lc-3:before {
	top: 2.666666em;
	color: #000;
}

html:not(.webkit-line-clamp) .lc-3:after {
	background: #fff;
}

.wb-bw {
	word-break: break-all;
}

/* Mobile Phone
========================================================================== */

@media screen and (min-width: 480px) {
	.text-left\@xs {
		text-align: left;
	}
	.text-right\@xs {
		text-align: right;
	}
	.text-center\@xs {
		text-align: center;
	}
	.ws-nowrap\@xs {
		white-space: nowrap;
	}
}

/* Tablet
========================================================================== */

@media screen and (min-width: 736px) {
	.text-left\@sm {
		text-align: left;
	}
	.text-right\@sm {
		text-align: right;
	}
	.text-center\@sm {
		text-align: center;
	}
	.ws-nowrap\@sm {
		white-space: nowrap;
	}
}

/* Small Desktop / Large Tablets
========================================================================== */

@media screen and (min-width: 980px) {
	.text-left\@md {
		text-align: left;
	}
	.text-right\@md {
		text-align: right;
	}
	.text-center\@md {
		text-align: center;
	}
	.ws-nowrap\@md {
		white-space: nowrap;
	}
}

/* Desktop
========================================================================== */

@media screen and (min-width: 1280px) {
	.text-left\@lg {
		text-align: left;
	}
	.text-right\@lg {
		text-align: right;
	}
	.text-center\@lg {
		text-align: center;
	}
	.ws-nowrap\@lg {
		white-space: nowrap;
	}
}

/* Large Desktop
========================================================================== */

@media screen and (min-width: 1690px) {
	.text-left\@xl {
		text-align: left;
	}
	.text-right\@xl {
		text-align: right;
	}
	.text-center\@xl {
		text-align: center;
	}
	.ws-nowrap\@xl {
		white-space: nowrap;
	}
}

/* Retina Display
========================================================================== */

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.text-left\@retina {
		text-align: left;
	}
	.text-right\@retina {
		text-align: right;
	}
	.text-center\@retina {
		text-align: center;
	}
	.ws-nowrap\@retina {
		white-space: nowrap;
	}
}
