/*
==========================================================================
 Typography
========================================================================== */

/*font-family: 'Karla', sans-serif;
font-family: 'Poppins', sans-serif;*/


h1, h2, h3, h4, h5 {
 font-family: futura-pt, sans-serif;
 font-style: normal;
 font-weight: 600;
 color: #000;
}
h1 {
 font-size: 64px;
 line-height: 68px;
 margin: 0 0 20px 0 ;
}
h2 {
 font-size: 36px;
 line-height: 40px;
 margin: 0 0 20px 0 ;
}
h3 {
 font-size: 29px;
 line-height: 36px;
 margin: 0 0 15px 0 ;
}
h4 {
 font-size: 25px;
 line-height: 31px;
 margin: 0 0 15px 0 ;
}
h5 {
 font-size: 23px;
 line-height: 29px;
 margin: 0 0 15px 0 ;
}

p {
 font-size: 18px;
 line-height: 28px;
 margin: 0 0 20px;
}

@media screen and (max-width: 850px) {
h1 {
 font-size: 55px;
 line-height: 50px;
}

h2 {
 font-size: 30px;
 line-height: 35px;
}
h3 {
 font-size: 30px;
 line-height: 35px;
}
}

@media screen and (max-width: 550px) {
h1 {
 font-size: 45px;
 line-height: 48px;
}
p {
 font-size: 17px;
 line-height: 23px;;
}
}
h6 {
 font-family: 'Karla', sans-serif;
 font-size: 16px;
 color: #000000;
 text-transform: uppercase;
 letter-spacing: 3px;
 margin: 0 0 13px;
}

/*-------------Button Style-------------*/


.button1 {
 font-size: 20px;
 line-height: 29px;
 margin: 0 0 15px 0 ;
 color: #000;
 border-bottom: 2px solid #000;
 font-family: futura-pt, sans-serif;
 font-style: normal;
 font-weight: 300;
}
.button1:hover {
 color: #ff4325;
 border-bottom: 2px solid #ff4325;
}
.button2 a {
 font-size: 20px;
 line-height: 29px;
 margin: 0 0 15px 0 ;
 color: #000;
 border-bottom: 2px solid #000;
 font-family: futura-pt, sans-serif;
 font-style: normal;
 font-weight: 300;
 background: #ff4325;
 color: #FFF;
 padding: 20px 0;
 border: none;
 width: 280px;
 display: block;
 text-align: center;
 margin: 0 0 50px;


}
.button2 a:hover  {
 background: #000000;
}



/*-------------Universal Styles-------------*/

ul, ol {
 overflow: hidden;
 margin: 0 0 20px 0;

}
.editor ul li {
 list-style: disc;
 margin: 0 0 10px 30px;

}
.editor ol li {
 list-style: decimal;
 margin: 0 0 10px 30px;
}
.editor img {

 height: auto;
}
.editor p {
 margin: 0 0 40px 0;
}
/*.editor h1, .editor h2, .editor h3, .editor h4 {
 margin: 0 0 40px 0;
}*/
.center900 {
 width: 900px;
 margin: 0 auto;
 text-align: center;
 overflow: hidden;
}
@media screen and (max-width: 950px) {
.center900 {
 width: 90%;
}
}
.center800 {
 width: 800px;
 margin: 0 auto;
 text-align: center;
}
@media screen and (max-width: 850px) {
.center800 {
 width: 90%;
}
}
.content1100 {
 width: 1100px;
 margin: 0 auto;
 overflow: hidden;
}
@media screen and (max-width: 1280px) {
.content1100 {
 width: 90%;
}
}
.content-full {
 overflow: hidden;
}
.grey-bg {
 background: #f6f6f6;
}
p.event-status {
 display: none;
}
