//Site Variables
.flex {
	display: flex;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.text-align-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}

.width10 {
  width: 10%
}

.width20 {
  width: 20%
}

.width30 {
  width: 30%
}

.width40 {
  width: 40%
}

.width50 {
  width: 50%
}

.width60 {
  width: 60%
}

.width70 {
  width: 70%
}

.width80 {
  width: 80%
}

.width90 {
  width: 90%
}

.width100 {
  width: 100%
}

.height10 {
  height: 10%;
}

.height20 {
  height: 20%;
}

.height30 {
  height: 30%;
}

.height40 {
  height: 40%;
}

.height50 {
  height: 50%;
}

.height60 {
  height: 60%;
}

.height70 {
  height: 70%;
}

.height80 {
  height: 80%;
}

.height90 {
  height: 90%;
}

.height100 {
  height: 100%;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.padding10 {
	padding: 0 10px;
}

.padding15 {
	padding: 0 15px;
}

.padding30 {
	padding: 0 30px;
}

.padding60 {
	padding: 0 60px;
}

.padding100 {
	padding: 0 100px;
}

.padding15-all {
	padding: 15px;
}

.padding30-all {
	padding: 30px;
}

.padding60-all {
	padding: 60px;
}

.padding100-all {
	padding: 100px;
}

.padding10-right {
  padding-right: 10px;
}

.padding5-right {
  padding-right: 5px;
}

.padding5-left {
  padding-left: 5px;
}

.padding5-bottom {
  padding-bottom: 5px;
}

.padding10-bottom {
  padding-bottom: 10px;
}

.padding5-top {
  padding-top: 5px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 35%;
  left: 14%;
}

.centered2 {
  position: absolute;
  top: 35%;
  left: 17%;
  width: 65%;
}

.centered3 {
  position: absolute;
  top: 63%;
  left: 40%;
}

.centered-mid {
  position: absolute;
  top: 60%;
}

.centered-btm {
  position: absolute;
  width: 96%;
  bottom: 5%;
}

.bold {
  font-weight: bold;
}

.strikeout {
  text-decoration: line-through;
}