{{> header}} {{> top-bar}} {{> navigation}}

<div class="container">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
</div>

<div class="container">
  <div class="box60 rel">
    <h2 class="centered beta text-align-center">Home Of a Great Night's Sleep</h2>
    <img src="/img/Layer_861.png" alt="Placeholder" />
  </div>
  <div class="box40 rel">
    <h2 class="centered2 beta white text-align-center">Dormeo Wellsleep Hybrid Mattress</h2>
    <p class="centered3 zeta text-align-center white">Prices from £399.99</p>
    <img src="/img/Layer_845.png" alt="Placeholder" />
  </div>
  <div class="box40-static  padding15-all">
    <h2 class="text-align-center black-friday">Black Friday</h2>
    <p class="text-align-center black-fridayP">Save £1000s</p>
  </div>
</div>

<div class="container padding30">
  <p class="text-align-center mb15">
    Shop By Mattress Technology
  </p>
  <div class="box25 padding10 rel">
    <p class="epsilon text-align-center centered-btm padding10-bottom bold">Memory Foam</p>
    <img src="/img/Layer_836.png" alt="Placeholder" />
  </div>
  <div class="box25 padding10 rel">
    <p class="epsilon text-align-center centered-btm padding10-bottom bold">Pocket Sprung Mattresses</p>
    <img src="/img/Layer_837.png" alt="Placeholder" />
  </div>
  <div class="box25 padding10 rel">
    <p class="epsilon text-align-center centered-btm padding10-bottom bold">Hybrid Mattresses</p>
    <img src="/img/Layer_838.png" alt="Placeholder" />
  </div>
  <div class="box25 padding10 rel">
    <p class="epsilon text-align-center centered-btm padding10-bottom bold">Octaspring</p>
    <img src="/img/Layer_832.png" alt="Placeholder" />
  </div>
</div>

<div class="container padding30">
  <p class="text-align-center mb15">As Seen on TV</p>
  <div class="box75 padding10-right">
    <img src="/img/Layer_842.png" alt="Placeholder" />
  </div>
  <div class="box25 padding5-bottom">
    <img src="/img/Layer_846.png" alt="Placeholder" />
  </div>
  <div class="box25 padding5-top">
    <img src="/img/Layer_844.png" alt="Placeholder" />
  </div>
</div>

<div class="container">
  <div class="box45-static padding15-all white">
    <h2 class="text-align-center white">2 Col</h2>
    <p class="text-align-center">Height will depend on content</p>
    <p class="text-align-center">Content 1</p>
    <p class="text-align-center">Content 2</p>
    <p class="text-align-center">Content 3</p>
  </div>
  <div class="box45-static padding15-all float-right white">
    <h2 class="text-align-center white">2 Col</h2>
    <p class="text-align-center">Height will depend on content</p>
    <p class="text-align-center">Content 1</p>
    <p class="text-align-center">Content 2</p>
    <p class="text-align-center">Content 3</p>
  </div>
</div>

<div class="wrapper">
  <p class="text-align-center padding30-all center width60">
    "Very comfortable mattress, good night sleep. Fantastic service and delivery. Good quality for a great value price"
  </p>
</div>

<div class="container height20 text-align-center">
  <p class="mb5">As Featured by</p>
  <img width="100px" src="/img/Layer_883.png" alt="">
  <img width="100px" src="/img/Layer_885.png" alt="">
  <img width="100px" src="/img/Layer_890.png" alt="">
  <img width="100px" src="/img/Layer_896.png" alt="">
  <img width="100px" src="/img/Layer_889.png" alt="">
  <img width="100px" src="/img/Layer_887.png" alt="">
  <img width="100px" src="/img/Layer_884.png" alt="">
  <img width="100px" src="/img/Layer_894.png" alt="">
  <img width="100px" src="/img/Layer_892.png" alt="">
</div>

<div class="container">
  <p class="text-align-center">Best Sellers</p>
  <div class="carousel">
    <button type="button" class="slick-prev">Previous</button>
    <div class="rel">
      <img src="/img/Layer_851.png">
      <p class="zeta text-align-center centered-mid padding10-bottom">Dormeo Memory Plus Mattress</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£499</span>
      </p>
    </div>
    <div class="rel">
      <img src="/img/Layer_852.png">
      <p class="zeta text-align-center centered-mid">Dormeo Octasense Pillow</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£49.99</span>
      </p>
    </div>
    <div class="rel">
      <img src="/img/Layer_853.png">
      <p class="zeta text-align-center centered-mid">Octaspring Body Zone Mattress Topper</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£169.99</span>
      </p>
      <p class="zeta text-align-center">
        <span class="strikethough">Was £359.99</span>
        <span class="red">Save £190.00</span>
      </p>
    </div>
    <div class="rel">
      <img src="/img/Layer_855.png">
      <p class="zeta text-align-center centered-mid">Tiffany King Divan & Headboard Bed Set, Cayenne Black, 4 Drawers</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£499</span>
      </p>
    </div>
    <div class="rel">
      <img src="/img/Layer_856.png">
      <p class="zeta text-align-center centered-mid">Dormeo Silver Memory Foam Mattress</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£499</span>
      </p>
    </div>
    <div class="rel">
      <img src="/img/Layer_852.png">
      <p class="zeta text-align-center centered-mid">Dormeo Memory Plus Mattress</p>
      <p class="zeta text-align-center">From
        <span class="blue bold">£499</span>
      </p>
    </div>
    <button type="button" class="slick-prev">Next</button>
  </div>
</div>

{{> footer}}