/* Global
========================================================================== */

@import "partials/colors";
@import "partials/footer";
@import "partials/header";
@import "partials/headings";
@import "partials/layout";
@import "partials/text";
@import "partials/columns";
@import "partials/custom_fonts";
@import "partials/html5bp";
@import "partials/normalize";
@import "partials/print";
@import "partials/typography";
@import "partials/utilities";
@import "partials/style";
@import "partials/font-awesome";
@import "partials/navigation.scss";
@import "partials/box.scss";
.container {
	width: 75vw;
	margin: 0 auto;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

.container-100 {
	width: 75vw;
	margin: 0 auto;
	margin-bottom: 15px;
	overflow: hidden;
}

.branding {
	margin: 0 auto 3rem;
	display: block;
	width: 15rem;
}

.wrapper {
	width: 75vw;
	margin: 0 auto;
	background: $lightgrey;
	margin-bottom: 15px;
	overflow: hidden;
}

/* ---------- Media Queries ----------*/

/* Extra Small Devices */

@media only screen and (max-width: 600px) {
	.wrapper {
		margin: 0 auto 0px;
	}
}

/* Tablet & Phablet */

@media only screen and (min-width: 600px) {}

/* Desktop */

@media only screen and (min-width: 992px) {}

@media all and (max-width: 1200px) {
	.wrapper {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px
	}
}
